{{!
< default}} <div class="row expanded collapse">
	<div class="small-12 columns">
		<div class="hero hero--2 row expanded align-middle">
			<h1>Ada Worship Auditions</h1>
		</div>
	</div>
	</div>
	<!-- <div class="jumbotron"><img src="/images/logo.svg" width="160">
		<h1>Welcome</h1>
		 -->

	<div class="home-body auditions">
		<div class="container">
			{{{data.auditionPage.content.extended}}} {{!--
			<div class="row">
				<div class="small-12 columns">
					<h3>Welcome to Worship Team Auditions!</h3>
					<p>
						Our teams prepare music for the weekend with specific arrangements. We learn the songs beforehand (from the Practice Tool
						provided) and arrive at rehearsals knowing our individual parts with flexibility for team changes (if any). We do not
						wing it or make up our parts as we go. We do not use music stands/chord charts on stage. There is a monitor on the
						back wall with an abbreviated chord chart and lyrics. Our auditions are designed to be similar to a weekend experience.
						<br />
						<br /> Please use the tool below (not Youtube or other resources) and let us know in advance if any of the links do
						not load correctly. Do not hesitate to ask questions to ensure you have what you need to prepare for auditions.
					</p>
				</div>
			</div> --}} {{!--
			<div class="row">
				<div class="small-12 columns">
					<h4>Songs</h4>
					<p>
						These are the songs we will be playing together at auditions. Click on the songs to access the tool. Please be sure to select
						the song key that is given below. Click <a target="_blank" href="https://www.dropbox.com/sh/v37qp0iasnp90f5/AACqJL55S2oTA1s3N_sPA8Oma?dl=0">here</a>
						for chord charts.
					</p>
					<ul>
						<li><a href="/songs/look-to-the-son?key=A">Look to the Son - A</a></li>
						<li><a href="/songs/o-praise-the-name?key=A">O Praise the Name - A</a></li>
						<li><a href="/songs/yes-i-will?key=B">Yes I Will - B</a></li>
					</ul>
					<p>
						You can listen to one song at a time and it gives you the freedom to adjust the volume for each instrument individually (slide
						the volume knob to the left or right). You can also hear one instrument at a time with the solo feature (solo button)
						or mute the desired instruments one at a time. Chord charts are attached.
					</p>
				</div>
			</div> --}} {{!--
			<div class="row">
				<div class="small-12 columns">
					<h4>What To Expect</h4>
					<p>
						First of all, come ready to have fun.  Yes, it’s an audition, but our teams love to have fun! Your audition will be exactly
						30 minutes.  Please arrive on time and ready to go. We will begin with a few questions to get to know you, get you
						set up with a comfortable (in-ear) monitor mix and play through the music together. Please come knowing your parts
						well with the readiness to be flexible if needed.
					</p>
				</div>
			</div> --}}
			<div class="row">

				<div class="small-12 columns">
					<h4>Instrument Specific Tips</h4>
					<ul class="tabs" data-tabs id="instrument-tabs">
						<li class="tabs-title is-active"><a href="#vocals" aria-selected="true">Vocals</a></li>
						<li class="tabs-title"><a data-tabs-target="drums" href="#drums">Drums</a></li>
						<li class="tabs-title"><a data-tabs-target="bass" href="#bass">Bass</a></li>
						<li class="tabs-title"><a data-tabs-target="keys" href="#keys">Keys/Synth</a></li>
						<li class="tabs-title"><a data-tabs-target="acoustic" href="#acoustic">Acoustic Guitar</a></li>
						<li class="tabs-title"><a data-tabs-target="electric" href="#electric">Electric Guitar</a></li>
					</ul>
					<div class="instrument-tabs-content" data-tabs-content="instrument-tabs">
						<div class="tabs-panel is-active" id="vocals">
							<h6>Harmonize</h6>
							<p>
								We have several hundred people in our congregation singing the melody with the worship leader. We will rarely need another
								melody in the microphone.  Please come ready to sing harmonies.
							</p>
							<h6>Presence</h6>
							<p>
								Worship expression and confidence is as important as our musical contribution to the team with our vocals.  We are not performing
								for an audience but serving as a team to provide an environment of worship for the congregation (so they may engage
								in the worship of God in song).
							</p>
							<h6>Blending & Tone</h6>
							<p>
								The ability to blend with the worship leader in tone, note length, tempo and style (vibrato control) is important.  Knowing
								when to drop out (singing off mic) and when to layer in parts for added dynamics a super bonus!
							</p>
							<p><strong>*special note - The worship leader for each campus/venue is a staff position.  This audition is only for
									volunteer worship team members.</strong></p>
						</div>
						<div class="tabs-panel" id="drums">
							<h6>Click Tracks/Metronome</h6>
							<p>
								We use click tracks for all songs with in-ear monitors.  The ability to play in time and play with click tracks are a must.
							</p>
							<h6>Rock!</h6>
							<p>
								Dynamics, control, consistency, and feel.  Understanding the arrangement of the song and the having versatility to play in
								that style sets apart the pro.
							</p>
							<h6>Blend</h6>
							<p>
								Knowing what the song and the band needs (in the big picture) is a special gift.  Many times less is more and simple parts
								add magic to the overall sound.
							</p>
						</div>
						<div class="tabs-panel" id="bass">
							<h6>Groove with the Drummer</h6>
							<p>
								Bass 101 for players at every level.  Gel with the rhythm in the kick drums like a tandem bike master.
							</p>
							<h6>Blend & Support the Team</h6>
							<p>
								You own the awesome lower notes of the pie.  Guard the low end well, giving the guitars space to walk up and down their areas.
							</p>
							<h6>Be a Sonic Foundation</h6>
							<p>
								We are not playing jazz or classic rock.  Understanding the arrangement of the song and the having versatility to play in
								that style sets apart the pro.  Please do not walk around the bass note - lock in with the click, play the arrangement
								in the demos provided and rock it hard for the team!
							</p>

						</div>
						<div class="tabs-panel" id="keys">
							<h6>Know the Parts</h6>
							<p>
								Almost every song has a central synth part.  It is usually a simple line but it can make (or break!) the song.
							</p>
							<h6>Blend</h6>
							<p>
								There was a time when the piano carried all of the accompaniment.  We have a band full of friends!  Understanding the arrangement
								of the song and the having versatility to play in that style sets apart the pro.  The ability to see the big picture
								and leave space for the other instruments is a masterful skill.
							</p>
							<h6>Tone</h6>
							<p>
								We love a good piano sound but not for everything.  Keys can add texture and feel like no other instrument.  Knowing how
								to “pad” and when to use it, is a super bonus!  (if you are not familiar with “padding” no worries, it is easy to
								learn!)
							</p>
						</div>
						<div class="tabs-panel" id="acoustic">
							<h6>Strong & Consistent</h6>
							<p>
								Strong, consistent strumming with smooth chord transitions makes for a great acoustic sound.
							</p>
							<h6>Lock In With The Tempo</h6>
							<p>
								We play everything with a click track in our in-ear mix.  The ability to play with solid consistency and ease is essential.
							</p>
							<h6>Capo</h6>
							<p>
								Open chords have a great sound!  Feel free to use your capo to create those smooth tones with fluid chord changes.
							</p>
						</div>
						<div class="tabs-panel" id="electric">
							<h6>Tone</h6>
							<p>
								As a musician, you know that a huge part of music is the vibe and feel.  The right notes can be oh so wrong with the wrong
								tone.  Bring your pedals (if you have them).  We have a basic pedal board available (2 overdrives, Delay and Reverb).
							</p>
							<h6>Parts</h6>
							<p>
								The electric guitar parts are planned and purposeful with the whole team in mind.  Understanding the arrangement of the song
								and the having versatility to play in that style sets apart the pro.  No jazz or blues improv. Often the lead guitar
								carries an important central hook or melody line.  Be familiar with the parts in the demos.
							</p>
							<h6>Blend</h6>
							<p>
								Knowing when to carry the lead (melodies and hooks), when to create nice ambient textures and when to drop out entirely and
								give beautiful space is a gift!
							</p>
						</div>
					</div>

				</div>
			</div>
			<div class="row">
				<div class="small-12 columns">
					<h4>Are You Prepared?</h4>
					<ol>
						<li>Listened to the songs</li>
						<li>Prepare your parts for the audition</li>
						<li>Be ready to have some fun!</li>
					</ol>
					<p>
						Let us know if you have any questions and we look forward to meeting you at auditions!
					</p>
					<a href="mailto:{{{data.auditionPage.contactEmail}}}" class="button">
						Email
					</a>
				</div>
			</div>
		</div>
	</div>

	<!-- </div> -->