#header {
	// margin-top: 30px;
	position: relative;
	z-index: 2;
}

.aw__header {
	width: 100%;
	background: black;
	height: 50px;

	.columns{
		height: 100%;
	}
	.row {
		height: 100%;
	}

	li {
		display: flex;
		justify-content: center;
		flex-grow: 1;
		height: 100%;

		&:hover{
			a{
				color: #fff;
				text-decoration: none;
			}
		}

		a {
			font-family: montserrat;
			font-weight: 700;
			font-size: 14px;
			color: #989898;
			letter-spacing: 4.2px;
			text-transform: uppercase;
			display: flex;
    align-items: center;
		transition: color 0.2s ease;
		}
	}
	// display: flex;
	// flex-direction: row;
	// align-items: center;
	// justify-content: center;
	// overflow: hidden;
	a {
		display: flex;

		&.logo {
			height: 50px;
		}

		img {
			max-height: 100%;
			margin: 0 auto;
		}
	}
}

#footer {
	margin-top: 30px;
	border-top: 1px solid #eeeeee;
	padding-top: 30px;
	color: #777777;
}

.row {
	&.top-pad {
		padding-top: 2em;
	}
}

.top-bar {
	background: black;

	ul {
		background: none;

		&.menu {
			.menu-text {
				color: white;
			}
		}
	}

	a {
		color: white;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Montserrat, sans-serif;
}

h5, h6 {
	text-transform: uppercase;
}

h6{
	font-weight: 600;
}

body, p{
	font-family: roboto;
}

.hero {
	min-height: 400px;
	position: relative;
	z-index: 0;
	overflow: hidden;

	&.hero--1, &.hero--2{
		&:before{
		position: absolute;
		z-index: 1;
		top: 0;
		left: 0;
		display: block;
		width: 100%;
		height: 100%;
		content: '';
		-webkit-transform: translate3d(0, 0, 0);
		-webkit-transform: scale(1.1);
		-ms-transform: scale(1.1);
		transform: scale(1.1);
		background-size: cover;
		background-position: center center;
		-webkit-filter: blur(8px);
	}
	}

	&.hero--1 {
		&:before {
			background-image: url("/images/hero-bg.jpg");
		}
	}

	&.hero--2{
		&:before {
			background-image: url("/images/hero-bg-2.jpg");
		}
	}

	h1 {
		position: relative;
		z-index: 1;
		color: white;
		width: 100%;
		text-align: center;
		text-shadow: 0 2px 4px rgba(0, 0, 0, .5);
	}
}

.home-body {
	position: relative;
	background: white;
	z-index: 1;
	padding: 3em 0;
}

.song-list {
	.song {
		margin-bottom: 1em;

		img {
			box-shadow: 0 2px 8px 0 rgba(0,0,0,0.22);
		}

		.song__info-container {
			padding-left: 1em !important;
			.button{
				&:hover{
						background: #eee;
					// transform: translateY(-1px);
					// box-shadow: 0 7px 14px rgba(50,50,93,.07), 0 3px 6px rgba(0,0,0,.05);
				}
			}
		}

		.artist {
			font-weight: 700;
			font-size: 11px;
			color: #989898;
			letter-spacing: 3px;
			text-transform: uppercase;
			margin-bottom: 0;
		}

		.title {
			font-size: 24px;

			a {
				font-size: 24px;
				color: #333333;
			}
		}

		.button {
			&.hollow {
				border-radius: 0;
				font-family: montserrat, sans-serif;
				text-transform: uppercase;
				color: black;
				border-color: black;
				font-size: 12px;
				letter-spacing: 0;
			}
		}
	}
}

.button {
	border-radius: 0;
	font-family: montserrat, sans-serif;
	text-transform: uppercase;
	font-size: 12px;
	letter-spacing: 0;
	background: black;
	color: white;
	transition: all 0.2s ease;
	&:hover{
		background: #333;
	}
	&.hollow {
		color: black;
		border-color: black;
		background: transparent;
	}
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.instrument-tabs-content{
	background: #fafafa;
padding: 2em;
// margin-bottom: 2em;
}

.auditions{
	.row{
		padding-bottom: 2em;
	}
}

a{
	color: black;
	font-weight: 600;
	transition: all 0.2s ease;
	&:hover{
		color: #333;
		text-decoration: underline;
	}
	// text-decoration: underline;
}

.pdf-wrapper{
    position: relative;
		padding-bottom: 48%;
    width: 300px;
    height: 0;
}

.tabs > li, .tabs > li > a{
	&:focus{
		outline: none;
	}
}
